div {
    display: inline-block;
}

section {
    display: inline-block;
    justify-content: center;
}

body {
    background-color: antiquewhite;
}

.piece {
    display: inline-block;
    align-content: center;
   background-color: darkgrey;
    border: blue groove;
    border-radius: 25px;
    height: 100px;
    width: 100px;
}

#pieces {
    align-content: center;
    width: 100vw;
    margin-left: 50px;
}

.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 15px;
}

#info {
    background-color: darkorange;
    display: inline-block;
}

